<a href="/posts/{{id}}">
    <div>
        <h2> {{title}}</h2>
        <p>Posted by {{user.username}} on {{format_date date_created}}</p>
    </div>

    <div>
        <p> {{description}}</p>
    </div>
</a>