<!-- Loop over each object in the posts array -->
{{#each post as |post| }}
<div>
  <div >
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.user_name}} on {{format_date post.date_created}}</p>
  </div>
  <div >
    <p>
      {{post.description}}
    </p>
  </div>
</div>
{{/each}}